
/*Fonte*/
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif; 
    background-color: #FFFFFF;
}
.img{
    width: 10%;
}

/*Cabeçalho*/
.cabeçalho{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    flex-direction: row ;
}

/*imagem*/
#logo_escola{
    width: 8%;
    height: auto;
}

.cabeçalho h1{
    font-family: "serif";
    font-size: 150%;
}

.cabeçalho h2{
    font-size: 125%;
    color: #B4B4B5;
}